/**
 *  将 .babelrc 文件放在 src 中，而不是根目录下。
 *  这允许我们对于不同的任务有不同的 .babelrc 配置，比如像测试
 *  如果我们以后需要的话 - 通常为单独的任务单独配置会更好。
 */
{
  "presets": [
    [
      "@babel/env",
      {
        /**
         * 设置为 false
         * 否则Babel将在rollup有机会执行其操作之前将我们的模块转换为CommonJS,
         * 从而从而导致其失败。
         */
        "modules": false
      }
    ]
  ]
}
